.container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 6rem;

  @media (max-width: 800px) {
    padding: 0 2rem;
  }

  @media (max-width: 650px) {
    gap: 4rem;
    flex-direction: column;
    margin: 2rem 0 6rem;
  }
}

.picture-container {
  width: 40%;
  height: 60rem;

  @media (max-width: 1000px) {
    height: 45rem;
  }

  @media (max-width: 650px) {
    height: 50rem;
    width: 100%;
  }
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travel {
  color: var(--color-red-dark);
}

.description-container {
  width: 60%;
  font-size: var(--font-large);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // background-color: chocolate;

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
    gap: 0rem;
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
    width: 100%;
    gap: 2rem;
  }
}

.kanji {
  display: flex;
  align-items: center;
  gap: 3rem;
  // background-color: orange;
  line-height: 3.6rem;

  @media (max-width: 1000px) {
    gap: 1.2rem;
  }

  @media (max-width: 650px) {
    gap: 2rem;
  }
}

.japanese {
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 3.6rem;
  }

  @media (max-width: 650px) {
    font-size: 5.6rem;
  }
}

.english {
  color: var(--color-red-dark);
}

.description {
  // background-color: gold;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 4rem;

  @media (max-width: 1200px) {
    margin-top: 2rem;
  }

  @media (max-width: 1000px) {
    margin-top: 1rem;
  }

  @media (max-width: 650px) {
    margin-top: 3rem;
  }
}
