.container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 0 6rem;

  @media (max-width: 800px) {
    padding: 0 2rem;
  }

  @media (max-width: 650px) {
    gap: 2rem;
  }
}

.picture-container {
  width: 40%;
  height: 60rem;

  @media (max-width: 1000px) {
    height: 40rem;
  }

  @media (max-width: 650px) {
    height: 30rem;
  }
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travel {
  color: var(--color-red-dark);
}

.description-container {
  width: 60%;
  font-size: var(--font-large);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // background-color: red;

  @media (max-width: 1400px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
    gap: 1rem;
  }

  @media (max-width: 650px) {
    font-size: var(--font-xs);
  }
}

.kanji {
  display: flex;
  align-items: center;
  gap: 3rem;
  // background-color: orange;
  line-height: 3.6rem;

  @media (max-width: 1000px) {
    gap: 1.6rem;
  }
}

.japanese {
  font-family: "DM Serif Display", serif;
  font-size: 5.6rem;
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 3.6rem;
  }

  @media (max-width: 650px) {
    font-size: 3rem;
  }
}

.english {
  color: var(--color-red-dark);
}
