.container {
  height: 100%;
  width: 100rem;
  margin: 0 auto;
  border-right: 1px black solid;
  border-left: 1px black solid;
  border-radius: 7px;

  @media (max-width: 1000px) {
    width: 100vw;
  }
}

.main {
  //   padding: 4rem 8rem 6.4rem;
  // overflow: scroll;
  // background-color: yellow;

  padding: 0 8rem 10rem;

  @media (max-width: 1000px) {
    padding: 0 4rem 20rem;
    // background-color: aquamarine;
  }
}
