.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  // background-color: red;
}

.main {
  // padding: 3rem;
  // overflow: scroll;
  // margin-top: 12rem;
  margin-bottom: 4rem;
  // background-color: yellow;
}
