.container {
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width: 1400px) {
    height: 24rem;
  }
}

.text {
  color: white;
  position: absolute;
  bottom: 0rem;
  left: 4rem;
  width: 100%;

  @media (max-width: 1000px) {
    font-size: 4rem;
  }

  @media (max-width: 650px) {
    font-size: 3.4rem;
  }
}
