.container {
  display: flex;
  height: 60rem;
  width: 120rem;

  @media (max-width: 1400px) {
    width: 100%;
    height: 58rem;
  }

  @media (max-width: 1200px) {
    height: 45rem;
  }

  @media (max-width: 1000px) {
    height: 36rem;
  }

  @media (max-width: 800px) {
    height: 26rem;
  }
}

.left-container {
  width: 50%;
  height: 100%;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: auto 0;
  gap: 3rem;

  @media (max-width: 1000px) {
    padding: 3rem;
    gap: 2rem;
  }
}

.tour {
  color: var(--color-red-dark);

  @media (max-width: 1000px) {
    font-size: var(--font-large);
  }

  @media (max-width: 800px) {
    font-size: var(--font-med);
  }
}

.review {
  font-size: var(--font-med);
  color: var(--color-blue-dark);

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }

  @media (max-width: 800px) {
    font-size: var(--font-xs);
  }
}

.name {
  font-size: var(--font-med);
  font-weight: 600;
  color: var(--color-red-dark);

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }

  @media (max-width: 800px) {
    font-size: var(--font-xs);
  }
}
