.container {
  // background-color: red;
  display: flex;
  height: 50rem;
  width: 100rem;
}

.left-container {
  width: 50%;
  height: 100%;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-container {
  width: 50%;
  height: 100%;
  // background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: auto 0;
  gap: 3rem;
}

.tour {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}

.review {
  font-size: 2.2rem;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
}
