.container {
  background-color: #e5e7eb;
  position: relative;
  height: 50rem;
  width: 100rem;
  margin: 0 auto;
}

.dots {
  button::before {
    color: var(--color-red-dark) !important;
    font-size: 1rem !important;
    line-height: 3rem !important;
  }
}

.left {
  border: none;
  background-color: transparent;
  color: var(--color-red-dark);
  cursor: pointer;
  position: absolute;
  left: -10rem;
  top: 43%;
}

.right {
  border: none;
  background-color: transparent;
  color: var(--color-red-dark);
  cursor: pointer;
  position: absolute;
  right: -10rem;
  top: 43%;
}

.button {
  width: 4rem;
  height: 4rem;
}
