.container {
  height: 45rem;
  margin-top: 4rem;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form {
  background-color: rgb(255, 255, 255, 0.8);
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 1.4rem;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
  //   background-color: aliceblue;
}
