.container {
  background-color: var(--color-blue-dark);
  width: 100%;
}

.form {
  color: white;
  width: 100rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.button {
  border-radius: 0;
  border: none;
  background-color: var(--color-red-dark);
  margin-top: 2rem;

  &:hover {
    background-color: var(--color-blue-light);
  }
}
