.container {
  background-color: var(--color-blue-light);
  width: 70%;
  padding: 0 4rem;
}

.form {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  color: black;
  gap: 2rem;
  margin-top: 0.6rem;
  color: white;
}

.children {
  justify-content: start;
}

.radio-container {
  display: flex;
  gap: 4rem;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-small);
  cursor: pointer;
  line-height: 1.6rem;
}

input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  border: 0.15rem solid white;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--color-blue-light);
  }
}

input[type="radio"]:checked {
  background: var(--color-red-dark);
}
