.container {
  background-color: var(--color-blue-med);
  padding: 8rem 10rem;
}

.header {
  color: white;
  line-height: 5rem;
}

.text {
  margin-top: 3rem;
  color: white;
  // color: var(--color-red-dark);
}
