.container {
  background-color: var(--color-blue-dark);
  color: white;
}

.header {
  color: var(--color-red-dark);

  @media (max-width: 1000px) {
    font-size: 4rem;
  }

  @media (max-width: 800px) {
    font-size: var(--font-xl);
  }

  @media (max-width: 650px) {
    font-size: var(--font-large);
  }
}

.step-3 {
  display: flex;
  align-items: center;
}

.step-3-picture-container {
  width: 45%;
  height: 60rem;

  @media (max-width: 1400px) {
    width: 60%;
    height: 50rem;
  }

  @media (max-width: 1000px) {
    height: 45rem;
  }

  @media (max-width: 800px) {
    height: 37rem;
    width: 65%;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-3-text-container {
  width: 55%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @media (max-width: 1400px) {
    padding: 5rem;
  }

  @media (max-width: 800px) {
    width: 35%;
    padding: 3rem;
  }
}

.text {
  font-size: var(--font-large);

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }
}

.step-4 {
  display: flex;
  align-items: center;
}

.step-4-picture-container {
  width: 60%;
  height: 60rem;

  @media (max-width: 1700px) {
    height: 50rem;
  }

  @media (max-width: 1400px) {
    height: 45rem;
  }

  @media (max-width: 1000px) {
    height: 35rem;
  }
}

.step-4-text-container {
  width: 40%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @media (max-width: 1000px) {
    padding: 3rem;
  }
}

.step-5 {
  display: flex;
  align-items: center;
}

.step-5-picture-container {
  width: 60%;
  height: 80rem;

  @media (max-width: 1700px) {
    height: 60rem;
  }

  @media (max-width: 1400px) {
    height: 50rem;
  }

  @media (max-width: 1000px) {
    width: 65%;
    height: 45rem;
  }

  @media (max-width: 800px) {
    height: 37rem;
  }
}

.step-5-text-container {
  width: 40%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @media (max-width: 1000px) {
    width: 35%;
    padding: 3rem;
  }
}
