.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 4rem auto;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-row {
  font-size: var(--font-med);
  gap: 0.2rem;
  padding: 0.8rem;
  width: 100%;
  color: var(--color-blue-dark);

  textArea {
    resize: none;
  }

  input,
  textArea,
  select {
    width: 100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    font-family: inherit;
  }

  input:focus,
  textArea:focus,
  select:focus,
  button:focus {
    border: 2px var(--color-blue-light) solid;
  }
}

.checkbox-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  gap: 2rem;
  color: black;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  line-height: 1.4rem;
  text-align: center;
  white-space: nowrap;
  position: relative;

  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  input:checked {
    background-color: #1c09ac;
  }
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 500px;
  background-color: blue;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
  cursor: pointer;
}

.children {
  justify-content: start;
}

.button {
  background-color: var(--color-blue-dark);
  padding: 0.8rem 0.4rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0;
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--color-red-dark);
}
