.container {
  background-color: var(--color-blue-light);
  padding: 8rem 10rem;
}

.header {
  color: var(--color-blue-dark);
  line-height: 5rem;
}

.text {
  margin-top: 3rem;
  color: var(--color-red-dark);
}
