.panel {
  background-color: orange;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  color: #fff;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
  flex: 0.5;
  margin: 0.4rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

h3 {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  opacity: 0;
  transition: all 1.5s;
}

.active {
  flex: 5;
}

.textActive {
  opacity: 1;
}
