.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 0.4rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  position: absolute;
  background: rgba(255, 255, 255, 0.888);
  height: 80%;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  padding: 1.4rem;
  opacity: 0;
  color: black;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @media (max-width: 1400px) {
    width: 27%;
  }

  @media (max-width: 1200px) {
    width: 35%;
  }

  @media (max-width: 1000px) {
    width: 40%;
  }

  @media (max-width: 800px) {
    width: 45%;
  }
}

.active {
  flex: 5;
}

.textActive {
  opacity: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.boxActive {
  opacity: 1;
}

.header {
  margin-bottom: 1rem;
  color: var(--color-blue-dark);

  @media (max-width: 1000px) {
    font-size: var(--font-xl);
  }
}

.description {
  font-size: var(--font-med);

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }
}

.link {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: var(--font-med);
  color: var(--color-blue-dark);

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }

  &:hover {
    color: var(--color-red-dark);
  }

  &:focus-visible {
    outline: 2px solid var(--color-red-light);
  }
}

.icon {
  opacity: 0;
}

.iconActive {
  font-size: 5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 1.2s;

  @media (max-width: 1000px) {
    font-size: 4rem;
  }

  @media (max-width: 800px) {
    font-size: 3rem;
    bottom: 0;
    transform: initial;
    left: 93%;
  }

  @media (max-width: 650px) {
    font-size: 2.6rem;
  }
}
