.panel {
  background-color: orange;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
  color: white;
  // text-shadow: 2px 2px 2px black;
  cursor: pointer;
  flex: 0.5;
  margin: 0.4rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

// h3 {
//   font-size: 1.6rem;
//   position: absolute;
//   bottom: 0.8rem;
//   left: 0.8rem;
//   opacity: 0;
//   transition: all 1.5s;
// transition: opacity .3s ease-in 04s;
// }

.box {
  position: absolute;
  // background-color: white;
  background: rgba(255, 255, 255, 0.888);
  height: 80%;
  width: 20%;
  margin: 2rem 0 2rem 1rem;
  padding: 1.4rem;
  opacity: 0;
  border-radius: 7px;
  color: black;
  transition: all 0.3s ease-out 0.2s;
}

.active {
  flex: 5;
}

.textActive {
  opacity: 1;
}

.boxActive {
  opacity: 1;
}

.header {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
}
