.container {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
  background-color: var(--color-blue-dark);
  color: white;

  @media (max-width: 1000px) {
    margin-bottom: 2rem;
  }
}

.left-container {
  background-color: green;
  width: 60%;
  height: 70rem;

  @media (max-width: 1700px) {
    height: 60rem;
  }

  @media (max-width: 1000px) {
    height: 50rem;
  }

  @media (max-width: 800px) {
    height: 42rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    height: 50rem;
  }

  @media (max-width: 800px) {
    height: 42rem;
  }
}

.discover-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  @media (max-width: 1000px) {
    font-size: var(--font-xl);
  }

  @media (max-width: 800px) {
    font-size: var(--font-large);
  }
}

.description {
  font-size: var(--font-xl);

  @media (max-width: 1700px) {
    font-size: var(--font-large);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-med);
  }

  @media (max-width: 800px) {
    font-size: var(--font-small);
  }
}

.button {
  align-self: start;
  transition: all 0.5s;

  @media (max-width: 800px) {
    font-size: var(--font-small);
    padding: 1rem 3rem;
  }
}

.button:hover {
  background-color: white;
  color: var(--color-blue-dark);
}
