.container {
  display: flex;
  align-items: center;
  gap: 7rem;
  margin-bottom: 8rem;
  background-color: var(--color-blue-dark);
  color: white;
}

.left-container {
  background-color: green;
  width: 60%;
  height: 60rem;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container {
  width: 40%;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.description {
  font-size: var(--font-large);
}

.button {
  align-self: start;
  transition: all 0.5s;
}

.button:hover {
  background-color: white;
  color: var(--color-blue-dark);
}
