.container {
  // background-color: grey;
  // padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.filter {
  font-size: 2rem;
}

.button {
  padding: 0.4rem 1.8rem;
  border-radius: 500px;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.active {
  background-color: green;
}
