.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter {
  font-size: var(--font-small);

  @media (max-width: 800px) {
    font-size: var(--font-xs);
  }
}

.button {
  padding: 0.4rem 1.8rem;
  border-radius: 500px;
  border: none;
  color: white;
  font-size: var(--font-small);
  cursor: pointer;
  background-color: var(--color-red-dark);
  transition: all 0.5s;

  @media (max-width: 1200px) {
    padding: 0.4rem 1.4rem;
  }

  @media (max-width: 1000px) {
    padding: 0.4rem 1.8rem;
  }

  @media (max-width: 800px) {
    font-size: var(--font-xs);
  }
}

.button:hover {
  background-color: var(--color-blue-dark);
}

.active {
  background-color: var(--color-blue-dark);
}
