.container {
  // background-color: grey;
  // padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter {
  font-size: 2rem;
}

.button {
  padding: 0.4rem 1.8rem;
  border-radius: 500px;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--color-red-dark);
}

.button:hover {
  transform: scale(110%);
  background-color: var(--color-blue-dark);
}

.active {
  background-color: var(--color-blue-dark);
}
