.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  textArea {
    resize: none;
  }

  input,
  textArea,
  select {
    width: 100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    font-family: inherit;
    border-radius: 3px;
  }

  a:focus,
  input:focus,
  textArea:focus,
  select:focus,
  button:focus {
    outline: 2px var(--color-red-dark) solid;
  }
}

.label {
  font-size: var(--font-small);
  line-height: 2rem;
}

.error {
  font-size: var(--font-xs);
  margin-top: 0.4rem;
  color: var(--color-red-light);
}
