.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  font-size: var(--font-small);
}

.container input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  border: 0.15rem solid white;
  outline: none;
  cursor: pointer;
}

.container input[type="checkbox"]:focus {
  outline: 1px solid var(--color-blue-light);
}
