.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: brightness(80%);
}

.box {
  position: absolute;
  z-index: 5;
  width: 45%;
  padding: 0 4rem;
  top: 50%;
  transform: translateY(-30%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (max-width: 1000px) {
    width: 60%;
  }
}

.title {
  @media (max-width: 1000px) {
    font-size: 4.6rem;
    line-height: 5rem;
  }
}

.description {
  font-size: var(--font-large);

  @media (max-width: 1000px) {
    font-size: var(--font-med);
  }
}

.button {
  outline: none;
  background-color: var(--color-red-dark);
  color: white;
  padding: 1.4rem 6rem;
  font-size: var(--font-med);
  border-radius: 500px;
  cursor: pointer;
  text-transform: uppercase;
  align-self: start;
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--color-blue-light);
  transform: scale(110%);
}
