.container {
  width: 100%;
  // background-color: blue;
  display: flex;
  gap: 3rem;
}

.textContainer {
  width: 40%;
  // background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @media (max-width: 800px) {
    width: 50%;
    // background-color: green;
  }
}

.text {
  display: flex;
  gap: 1.2rem;
  // background-color: purple;
}

.icon {
  width: 5rem;
  height: 5rem;
  border-radius: 7px;
  object-fit: cover;
}

.textDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.title {
  font-size: 1.4rem;
}

.details {
  font-size: 1rem;
}

.pictureContainer {
  background-color: pink;
  width: 60%;
  height: 27rem;
  object-fit: contain;
  overflow: hidden;
  border-radius: 7px;
}

// .picture {
//   opacity: 50%;
//   width: 50%;
// }

.slick-slide {
  width: 500px;
}
