.container {
  padding: 0 6rem 6rem 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 28rem);
  justify-content: space-between;
  row-gap: 4rem;
  column-gap: 2rem;
  // background-color: pink;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 32rem);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, 28rem);
    padding: 2rem;
  }

  @media (max-width: 650px) {
    justify-content: center;
    row-gap: 6rem;
    grid-template-columns: repeat(auto-fill, 36rem);
  }
}
