.container {
  //   background-color: orange;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 8rem;
}

.rank-container-primary {
  width: 47rem;
  //   background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rank-container-secondary {
  width: 37rem;
  //   background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rank {
  font-size: 7rem;
}

.rank-primary {
  width: 47rem;
  height: 47rem;
  object-fit: cover;
}

.rank-secondary {
  width: 37rem;
  height: 37rem;
}

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.6rem;
  text-align: center;
}

.extra {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
}

// .duration {
//   font-size: 2rem;
// }

// .type {
//   font-size: 2rem;
// }

// .button {
//   font-size: 2rem;
//   text-transform: uppercase;
//   outline: none;
//   border: 1px solid white;
//   padding: 1.4rem 4rem;
//   background-color: transparent;
//   border-radius: 500px;
//   cursor: pointer;
//   margin-top: 1rem;
// }

.button {
  margin-top: 1rem;
  background-color: var(--color-blue-dark);
  border: none;
}
