.container {
  background-color: var(--color-blue-light);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 8rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 3rem;
    background-color: var(--color-bg);
  }
}

.rank-container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 1700px) {
    width: 43rem;
  }

  @media (max-width: 1400px) {
    width: 37rem;
  }

  @media (max-width: 1200px) {
    width: 31rem;
  }

  @media (max-width: 1000px) {
    flex-direction: row;
    width: 90%;
    gap: 0;
    background-color: var(--color-blue-med);
  }
}

.picture-container {
  width: 50rem;
  height: 50rem;
  object-fit: cover;

  @media (max-width: 1700px) {
    width: 43rem;
    height: 43rem;
  }

  @media (max-width: 1400px) {
    width: 37rem;
    height: 37rem;
  }

  @media (max-width: 1200px) {
    width: 31rem;
    height: 31rem;
  }

  @media (max-width: 1000px) {
    width: 35%;
    height: 30rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    width: 65%;
    height: 90%;
    padding: 2rem;
    gap: 2rem;
  }

  @media (max-width: 1000px) {
    color: white;
  }
}

.title {
  @media (max-width: 1700px) {
    font-size: var(--font-xl);
  }
}

.description {
  font-size: var(--font-med);
  text-align: center;

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }
}

.extra {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: var(--font-med);

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }
}

.button {
  margin-top: 1rem;
  background-color: var(--color-blue-dark);
  border: none;
  transition: all 0.5s;

  @media (max-width: 1000px) {
    background-color: var(--color-red-dark);
  }
}

.button:hover {
  transform: scale(110%);
  background-color: var(--color-red-dark);

  @media (max-width: 1000px) {
    background-color: var(--color-blue-dark);
  }
}
