.container {
  width: 95%;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

.rank {
  display: flex;
  align-items: center;
}

.number {
  font-size: 5.4rem;
}

.title {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.description {
  font-size: 1.6rem;
}
