.container {
  font-family: "DM Serif Display", serif;
  box-sizing: content-box;
  display: flex;
  font-size: 4rem;
  height: 100%;
  align-items: center;
  margin-left: 8rem;
}

.first-part {
  position: relative;
  line-height: 4rem;
}

.words {
  overflow: hidden;
  position: absolute;
  right: -15rem;
  top: 0;
  height: 8rem;
}

span {
  display: block;
  height: 100%;
  padding-left: 10px;
  color: #0e6ffc;
  animation: spin_words 10s infinite;
}

@keyframes spin_words {
  10% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-300%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-400%);
  }
}
