.button {
  z-index: 300;
  position: fixed;
  width: 5rem;
  height: 5rem;
  border-radius: 500px;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
  color: green;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-blue-dark);
}

.icon {
  font-size: 4rem;
  color: var(--color-blue-dark);
}
