.sectionHeader {
  border-bottom: 1px solid black;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  // background-color: red;
}

.header {
  font-size: 3rem;
}

.link {
  margin-bottom: 0.4rem;
}
