.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 6rem;

  @media (max-width: 1200px) {
    gap: 1rem;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}
