.container {
  // background-color: pink;
  // height: 100%;
}

.text {
  font-size: var(--font-large);

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-xs);
  }
}

.reviewer {
  font-size: var(--font-large);
  color: white;
  text-align: center;
  margin-top: 2rem;

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }

  @media (max-width: 800px) {
    margin-top: 0;
  }

  @media (max-width: 650px) {
    font-size: var(--font-xs);
    margin-top: 2rem;
  }
}
