.container {
  background-color: var(--color-blue-dark);
  width: 100%;
  height: 40rem;
  padding: 10rem 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 10rem;

  @media (max-width: 1700px) {
    padding: 8rem;
  }
}

.details-container {
  background-color: white;
  width: 40%;
  padding: 3rem;
  display: flex;

  align-items: center;
  justify-content: center;
}

.details-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  text-transform: uppercase;
}

.button {
  margin-top: 2rem;
  color: var(--color-red-dark);
  border: 1px solid var(--color-red-dark);
  align-self: start;
}

.button:hover {
  background-color: var(--color-red-dark);
  color: white;
}

.label {
  font-size: var(--font-med);
  color: var(--color-red-dark);
}

.text {
  font-size: var(--font-med);
}

.about-container {
  width: 60%;
}

.about {
  font-size: var(--font-xl);
  color: white;

  @media (max-width: 1700px) {
    font-size: var(--font-large);
  }
}
