.container {
  background-color: var(--color-blue-dark);
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 10rem;
}

.details-container {
  background-color: var(--color-blue-light);
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  color: var(--color-blue-dark);
}

.tour {
  display: flex;
  background-color: var(--color-red-dark);
  border-radius: 20px;
  padding: 0.6rem 1rem;
  align-self: start;

  p {
    font-size: var(--font-small);
    color: white;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
}

.button {
  margin-top: 2rem;
  color: white;
  background-color: var(--color-red-dark);
  align-self: start;
  outline: none;
  padding: 1.4rem 4.6rem;
  font-size: var(--font-med);
  border-radius: 500px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
}

.button:hover {
  background-color: var(--color-blue-light);
  color: white;
}

.label {
  font-size: var(--font-med);
  color: var(--color-blue-dark);
}

.text {
  font-size: var(--font-med);
  color: var(--color-blue-dark);
}

.about-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.about {
  font-size: var(--font-xl);
  color: white;

  @media (max-width: 1700px) {
    font-size: var(--font-large);
  }
}
