.container {
  width: 100vw;
  height: 90rem;
  position: relative;

  @media (max-width: 1400px) {
    height: 80rem;
  }

  @media (max-width: 1200px) {
    height: 70rem;
  }

  @media (max-width: 1000px) {
    height: 60rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  color: white;
  position: absolute;
  top: 14rem;
  left: 8rem;
  width: 40%;

  @media (max-width: 1400px) {
    font-size: 4.8rem;
    line-height: 5.2rem;
    top: 10rem;
  }

  @media (max-width: 1200px) {
    font-size: 3.6rem;
    line-height: 4rem;
    top: 10rem;
  }

  @media (max-width: 1000px) {
    font-size: 3rem;
    line-height: 3.6rem;
    top: 6rem;
  }

  @media (max-width: 650px) {
    font-size: var(--font-large);
    line-height: 3rem;
  }
}

.text {
  position: absolute;
  bottom: 14rem;
  right: 8%;
  width: 50%;
  color: white;
  font-size: var(--font-xl);

  @media (max-width: 1400px) {
    font-size: var(--font-large);
    bottom: 10rem;
  }

  @media (max-width: 1200px) {
    bottom: 6rem;
    right: 3%;
  }

  @media (max-width: 1000px) {
    font-size: var(--font-med);
  }

  @media (max-width: 650px) {
    font-size: var(--font-small);
  }
}
