.container {
  background-color: pink;
  height: 100%;
}

.text {
  font-size: var(--font-large);

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1400px) {
    font-size: var(--font-small);
  }
}

.reviewer {
  font-size: var(--font-large);
  color: white;
  text-align: center;

  @media (max-width: 1700px) {
    font-size: var(--font-med);
  }

  @media (max-width: 1400px) {
    font-size: var(--font-small);
  }
}
