.container {
  width: 100vw;
  padding: 6rem 8rem;

  @media (max-width: 1000px) {
    padding: 4rem 6rem;
  }

  @media (max-width: 1000px) {
    padding: 4rem;
  }
}

.header {
  width: 60%;
  line-height: 5.6rem;

  @media (max-width: 1700px) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  @media (max-width: 1200px) {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  @media (max-width: 1000px) {
    font-size: var(--font-large);
    line-height: 3rem;
  }

  @media (max-width: 800px) {
    width: 75%;
  }
}
