.select {
  font-size: var(--font-small);
  padding: 0.8rem 2rem;
  border: 1px solid var(--color-blue-dark);
  font-weight: 500;
  border-radius: 500px;

  @media (max-width: 1200px) {
    padding: 0.4rem 1rem;
    width: 22rem;
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}
