.subheading {
  font-size: 3.2rem;
  width: 100%;
  // background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0 0 0;

  @media (max-width: 800px) {
    font-size: 3rem;
  }
}

.text-container {
  position: relative;
  height: 70px;
  // background-color: green;
  display: inline;
  overflow: hidden;
}

.words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
  padding: 0 1rem;
  margin-top: 1px;
}

.text-word {
  height: 70px;
  font-weight: 600;
  color: blue;
  display: block;
  transition: 0.5s;
  line-height: 70px;
}
