.container {
  width: 100%;
  height: 40rem;
  background-color: pink;
  position: relative;
}

.picture-container {
  width: 60rem;
  height: 40rem;
  position: absolute;
  bottom: -6rem;
  left: 4rem;
  z-index: 5;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  background-color: green;
  float: right;
  width: 60rem;
  margin-top: 6rem;
  margin-right: 4rem;
  //   height: 30rem;
}

.text {
  font-size: 2.4rem;
}
