.container {
  background-color: var(--color-blue-light);
  width: 70%;
  padding: 0 4rem;
}

.form {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.button {
  border-radius: 0;
  border: none;
  background-color: var(--color-red-dark);
  margin-top: 2rem;

  &:hover {
    background-color: var(--color-blue-light);
  }
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  color: black;
  gap: 2rem;
  margin-top: 0.6rem;
  color: white;
}

.children {
  justify-content: start;
}
