.header {
  background-color: var(--color-red-dark);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 8rem 6rem;

  @media (max-width: 650px) {
    padding: 6rem 2rem;
  }
}

.header-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title-text {
  font-size: var(--font-large);
  line-height: 3rem;
  text-align: center;

  @media (max-width: 1000px) {
    font-size: var(--font-med);
    line-height: 2rem;
  }
}

.header-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-picture {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.trip-container {
  background-color: var(--color-blue-light);
  height: 100%;
  display: flex;
  padding: 4rem 0;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
  }
}

.picture-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: orange;

  @media (max-width: 800px) {
    width: 40%;
  }

  @media (max-width: 650px) {
    width: 80%;
  }
}

.text-container {
  width: 50%;
  // background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-right: 10rem;
  padding: 5rem;
  gap: 1rem;

  @media (max-width: 800px) {
    padding: 2rem;
    width: 60%;
  }

  @media (max-width: 650px) {
    width: 100%;
    margin-top: 4rem;
  }

  h2,
  p {
    color: var(--color-blue-dark);
  }
}

.picture {
  width: 60%;
  height: 60%;
  object-fit: contain;
  //   background-color: green;

  @media (max-width: 800px) {
    width: 80%;
    height: 80%;
  }
}

.title {
  text-align: center;

  @media (max-width: 1000px) {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }

  @media (max-width: 800px) {
    font-size: var(--font-xl);
    line-height: 3.6rem;
  }
}

.text {
  font-size: var(--font-med);

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
  }
}

.trip-container-2 {
  background-color: var(--color-blue-med);
  height: 100%;
  display: flex;
  padding: 4rem 0;

  @media (max-width: 650px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 12rem 0;
  }
}

.picture-container-2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: 40%;
  }

  @media (max-width: 650px) {
    width: 80%;
  }
}

.text-container-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;

  @media (max-width: 800px) {
    padding: 2rem;
    width: 60%;
  }

  @media (max-width: 650px) {
    width: 100%;
    margin-top: 4rem;
  }

  h2,
  p {
    color: white;
  }
}
