.container {
  width: 100%;
  height: 115rem;
  padding: 8rem 0 4rem;
  //   background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: var(--color-red-dark);
}

.step-1 {
  display: flex;
  align-items: center;
  width: 100%;
  //   background-color: var(--color-blue-light);
}

.step-1-picture-container {
  width: 60%;
  height: 60rem;
  //   background-color: green;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-1-text-container {
  width: 40%;
  padding: 6rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  //   background-color: pink;
}

.text {
  font-size: 2rem;
}

.step-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50rem;
  //   background-color: red;
  position: relative;
}

.step-2-text-container {
  width: 40%;
  padding: 6rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  //   background-color: pink;
}

.step-2-picture-container {
  width: 60rem;
  height: 60rem;
  //   background-color: green;
  position: absolute;
  left: 70rem;
  top: -10rem;
}
