.container {
  width: 100%;
  background-color: var(--color-blue-light);
  padding-bottom: 8rem;
}

.header {
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 4rem;
  color: white;
}

.types-container {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
}
