.header {
  background-color: var(--color-blue-dark);
  color: white;
  text-align: center;
  font-size: var(--font-xl);
  padding-top: 4rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4rem;
  background-color: var(--color-blue-dark);
  color: white;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-row {
  font-size: var(--font-med);
  gap: 0.2rem;
  padding: 0.8rem;
  width: 100%;

  textArea {
    resize: none;
  }

  input,
  textArea,
  select {
    width: 100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    font-family: inherit;
  }

  input:focus,
  textArea:focus,
  select:focus,
  button:focus {
    border: 2px var(--color-blue-light) solid;
  }
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  color: white;
  gap: 2rem;
  margin-top: 0.6rem;
}

.children {
  justify-content: start;
}

.button {
  padding: 0.8rem 0.4rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0;
  transition: all 0.5s;
  background-color: var(--color-red-dark);
}

.button:hover {
  background-color: var(--color-blue-light);
}
