.types {
  width: 35rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: var(--color-blue-dark);
  // background-color: pink;

  @media (max-width: 1700px) {
    // background-color: green;
    width: 30rem;
  }
}

.svg {
  width: 28rem;
  height: 28rem;

  @media (max-width: 1700px) {
    width: 20rem;
    height: 20rem;
  }
}

.title {
  color: white;
  line-height: 3.6rem;
  text-align: center;
  @media (max-width: 1700px) {
    font-size: var(--font-xl);
  }
}

.description {
  font-size: var(--font-med);

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }
}

.budget {
  font-size: var(--font-med);
  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }
}

.link {
  font-size: var(--font-med);
  color: var(--color-blue-dark);

  @media (max-width: 1700px) {
    font-size: var(--font-small);
  }

  &:hover {
    color: var(--color-red-dark);
  }
}
