.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  textArea {
    resize: none;
  }

  input,
  textArea,
  select {
    width: 100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    font-family: inherit;
  }

  input:focus,
  textArea:focus,
  select:focus,
  button:focus {
    border: 2px var(--color-blue-light) solid;
  }
}

.label {
  font-size: var(--font-med);
}

.error {
  color: red;
}
