.container {
  margin: 4rem 6rem 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 23%));
  justify-content: space-between;
  row-gap: 6rem;

  @media (max-width: 1800px) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 31%));
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(auto-fit, minmax(40%, 47%));
  }

  @media (max-width: 800px) {
    margin: 4rem 2rem;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  @media (max-width: 650px) {
    row-gap: 5rem;
  }
}
