.container {
  background-color: var(--color-blue-light);
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 5rem;

  @media (max-width: 1800px) {
    width: 70%;
    gap: 5rem;
  }

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}
