.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blue-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture {
  width: 80rem;
  height: 50rem;
  object-fit: cover;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 11rem;
  position: absolute;
  bottom: -7.6rem;
  color: white;
  font-family: "DM Serif Display", serif;
}

.location {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: -10rem;
}
