.container {
  display: flex;
  gap: 3rem;
  // background-color: red;
  padding: 2rem 0;
  height: 35rem;
}

.pictureContainer {
  width: 50%;
  // background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 175px 175px;
  gap: 1rem;

  img {
    border-radius: 3px;
  }
}

.pic1 {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic2 {
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailsContainer {
  // background-color: blue;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details {
  //   background-color: purple;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon {
  font-size: 4rem;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 1.6rem;
}

.detail {
  font-size: 1.2rem;
}
