.container {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
  background-color: var(--color-blue-dark);
  color: white;

  @media (max-width: 1000px) {
    margin-bottom: 2rem;
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.left-container {
  background-color: green;
  width: 60%;
  height: 70rem;

  @media (max-width: 1700px) {
    height: 60rem;
  }

  @media (max-width: 1000px) {
    height: 50rem;
  }

  @media (max-width: 800px) {
    height: 42rem;
  }

  @media (max-width: 650px) {
    width: 100%;
    height: 35rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: pink;

  @media (max-width: 1000px) {
    height: 50rem;
  }

  @media (max-width: 800px) {
    height: 42rem;
  }

  @media (max-width: 650px) {
    width: 100%;
    height: 100%;
  }
}

.discover-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  // background-color: orange;

  @media (max-width: 650px) {
    width: 90%;
    height: 90%;
    margin: 4rem 2rem;
  }
}

.header {
  @media (max-width: 1000px) {
    font-size: var(--font-xl);
  }

  @media (max-width: 800px) {
    font-size: var(--font-large);
  }

  @media (max-width: 650px) {
    text-align: center;
    font-size: var(--font-xl);
  }
}

.description {
  font-size: var(--font-xl);

  @media (max-width: 1700px) {
    font-size: var(--font-large);
  }

  @media (max-width: 1000px) {
    font-size: var(--font-med);
  }

  @media (max-width: 800px) {
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
  }
}

.button {
  align-self: start;
  border: 1px solid white;
  outline: none;
  color: white;
  padding: 1.4rem 4.6rem;
  font-size: var(--font-med);
  border-radius: 500px;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.5s;

  @media (max-width: 800px) {
    font-size: var(--font-small);
    padding: 1rem 3rem;
  }

  @media (max-width: 650px) {
    margin: 0 auto;
    font-size: var(--font-med);
    padding: 1rem 4rem;
  }
}

.button:hover {
  background-color: white;
  color: var(--color-blue-dark);
}
