.container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding-bottom: 8rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0 4rem;
    // background-color: var(--color-bg);
  }

  @media (max-width: 650px) {
    margin: 0 2rem;
    padding-bottom: 4rem;
  }

  @media (max-width: 500px) {
    justify-content: initial;
    gap: 10rem;
    padding-bottom: 8rem;
  }
}

.rank-container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  // background-color: orange;

  @media (max-width: 1700px) {
    width: 43rem;
  }

  @media (max-width: 1400px) {
    width: 37rem;
  }

  @media (max-width: 1200px) {
    width: 31rem;
  }

  @media (max-width: 1000px) {
    flex-direction: row;
    width: 100%;
    background-color: var(--color-blue-med);
  }

  @media (max-width: 650px) {
    background-color: var(--color-bg);
    flex-direction: column;
    width: 100%;
  }
}

.picture-container {
  width: 50rem;
  height: 50rem;
  object-fit: cover;

  @media (max-width: 1700px) {
    width: 43rem;
    height: 43rem;
  }

  @media (max-width: 1400px) {
    width: 37rem;
    height: 37rem;
  }

  @media (max-width: 1200px) {
    width: 31rem;
    height: 31rem;
  }

  @media (max-width: 1000px) {
    width: 35%;
    height: 30rem;
  }

  @media (max-width: 650px) {
    height: 30rem;
    width: 100%;
  }

  @media (max-width: 500px) {
    height: 40rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;

  &:hover {
    transform: scale(103%);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 30rem;
  // background-color: pink;

  @media (max-width: 1400px) {
    height: 35rem;
  }

  @media (max-width: 1200px) {
    height: 40rem;
  }

  @media (max-width: 1000px) {
    width: 65%;
    height: 30rem;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 650px) {
    width: 100%;
    justify-content: initial;
  }
}

.text-detail {
  display: flex;
  flex-direction: column;
  // background-color: azure;
  gap: 2rem;
  height: 100%;
  padding: 0 2rem;

  @media (max-width: 1000px) {
    height: 80%;
    width: 90%;
    padding: 0;
  }

  @media (max-width: 500px) {
    height: 100%;
    width: 100%;
  }
}

.title {
  color: var(--color-blue-med);
  text-align: center;

  @media (max-width: 1000px) {
    font-size: var(--font-xl);
    color: white;
  }

  @media (max-width: 800px) {
    font-size: var(--font-large);
  }

  @media (max-width: 650px) {
    color: var(--color-blue-med);
    font-size: 3.6rem;
  }
}

.description {
  font-size: var(--font-med);
  text-align: center;

  @media (max-width: 1000px) {
    color: white;
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
    color: #020617;
  }
}

.extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  font-size: var(--font-med);

  @media (max-width: 1000px) {
    color: white;
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
    color: #020617;
  }

  // @media (max-width: 500px) {
  //   color: var(--color-blue-small);
  //   font-size: 2rem;
  // }
}

.type {
  text-align: right;
}

.button {
  outline: none;
  color: white;
  padding: 1.4rem 4.6rem;
  font-size: var(--font-med);
  border-radius: 500px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  background-color: var(--color-blue-med);
  border: none;
  transition: all 0.5s;
  align-self: center;
  margin-top: auto;

  @media (max-width: 1000px) {
    background-color: var(--color-red-dark);
    padding: 1rem 4rem;
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
    width: 100%;
    text-align: center;
  }
}

.button:hover {
  transform: scale(110%);
  background-color: var(--color-red-dark);

  @media (max-width: 1000px) {
    background-color: var(--color-blue-dark);
  }
}
