.container {
  background-color: var(--color-blue-dark);
  width: 60%;
  padding: 0 4rem;

  @media (max-width: 1500px) {
    width: 60%;
  }

  @media (max-width: 1000px) {
    width: 100%;
    padding: 0;
  }
}

.form-container {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.fieldset-container {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkbox-container {
  display: flex;
  font-size: var(--font-small);
  flex-wrap: wrap;
  color: black;
  gap: 1rem 4rem;
  margin-top: 0.8rem;
  color: white;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 4rem;
  margin-top: 0.8rem;
}

.button {
  align-self: start;
  border-radius: 0;
  background-color: var(--color-red-dark);
  border: none;
  margin-top: 2rem;

  &:hover {
    background-color: var(--color-blue-light);
  }
}
