.button {
  outline: none;
  padding: 1.4rem 4.6rem;
  font-size: var(--font-med);
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;

  @media (max-width: 1400px) {
    padding: 1.2rem 4.2rem;
  }

  @media (max-width: 1000px) {
    font-size: var(--font-small);
    padding: 1rem 4rem;
  }

  @media (max-width: 800px) {
    font-size: var(--font-small);
    padding: 1.4rem 4.6rem;
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
  }
}
