.container {
  display: flex;
  height: 60rem;
  width: 120rem;
  // background-color: green;

  @media (max-width: 1400px) {
    width: 100%;
  }

  @media (max-width: 1400px) {
    height: 52rem;
  }

  @media (max-width: 1000px) {
    height: 42rem;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    height: 36rem;
  }

  @media (max-width: 500px) {
    height: 43rem;
  }
}

.left-container {
  width: 50%;
  height: 100%;

  @media (max-width: 650px) {
    width: 0%;
    height: 0%;
  }
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 650px) {
    width: 100%;
    height: 100%;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  // background-color: azure;
  height: 100%;
  margin: 2rem;

  @media (max-width: 650px) {
    gap: 2rem;
  }
}

.tour {
  color: var(--color-red-dark);

  @media (max-width: 800px) {
    font-size: var(--font-xl);
  }
}

.review {
  font-size: var(--font-med);
  color: var(--color-blue-dark);

  @media (max-width: 800px) {
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
  }
}

.name {
  font-size: var(--font-med);
  font-weight: 600;
  color: var(--color-red-dark);

  @media (max-width: 800px) {
    font-size: var(--font-small);
  }

  @media (max-width: 650px) {
    font-size: var(--font-med);
  }
}
