.input-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--font-small);
  cursor: pointer;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-small);
  cursor: pointer;
  line-height: 1.6rem;
}
