.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backdrop-color);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.68);
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blue-dark);
  box-shadow: var(--shadow-lg);
  transition: all 0.5s;
  width: 90rem;
  height: 45rem;
  z-index: 1000;
  display: flex;

  @media (max-width: 1000px) {
    width: 60rem;
    height: 35rem;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    width: 80%;
    height: 50rem;
  }
}

.picture-container {
  width: 50%;
  background-color: white;

  @media (max-width: 650px) {
    width: 100%;
    height: 45%;
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem;

  @media (max-width: 1000px) {
    gap: 2rem;
    padding: 4rem 2rem;
  }

  @media (max-width: 650px) {
    width: 100%;
    padding: 2rem;
  }
}

.header {
  line-height: 4.4rem;

  @media (max-width: 1000px) {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}

.text {
  font-size: var(--font-med);

  @media (max-width: 1000px) {
    font-size: var(--font-small);
  }
}

.icon {
  font-size: 4rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0;
}
