.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 6rem;

  @media (max-width: 1200px) {
    gap: 1rem;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    margin: 4rem 6rem;
    gap: 2rem;
  }

  @media (max-width: 800px) {
    margin: 2rem;
    gap: 1rem;
  }

  // @media (max-width: 650px) {
  //   margin: 4rem 2rem;
  //   // background-color: yellow;
  // }
}
