:root {
  --color-blue--dark: #1d3557;
  --color-blue-med: #457b9d;
  --color-blue-light: #a8dadc;
  --color-red-dark: #e63946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #f8fafc;
  color: #020617;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Source Sans 3", sans-serif;
  transition: color 0.3s, background-color 0.3s;
}

h1 {
  font-size: 5.6rem;
  line-height: 6rem;
  font-family: "DM Serif Display", serif;
}

h2 {
  font-size: 5rem;
  font-family: "DM Serif Display", serif;
}

h3 {
  font-size: 3.6rem;
  font-family: "DM Serif Display", serif;
}

ul {
  list-style-type: none;
}
