.container {
  margin: 0 6rem 6rem;
  display: grid;
  justify-content: space-between;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-template-rows: auto;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(auto-fit, 26rem);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fit, 31%);
    gap: 2rem;
  }

  @media (max-width: 800px) {
    margin: 0 2rem 6rem;
    grid-template-columns: repeat(auto-fit, 46%);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: auto;
  }

  @media (max-width: 500px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}
